header{
    width: 100%;
    top: 0;
    background-color: rgb(150, 150, 223);
    height: 150px;
    padding: 10px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.2px;
}

body{
    font-family: 'Ultra', serif;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/700/339/original/retro-camera-pattern-on-white-background-vector.jpg");
    background-size: cover;
}

#btnsnap{
    font-size: 22px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.8px;
    margin-top: 660px;
    background-color: rgb(164, 245, 164) !important;
}